body {
    display:flex;
    flex-direction: column;
    align-self:center;
    margin:5%;
    background:linear-gradient(to bottom, darkslateblue, rgb(28, 24, 56));
    color:white;
    min-height:100vh;
    
}

header {
    font-size:50px;
    font-weight:bolder;
    text-align: center;
    align-items: center;
    border: 2px dotted rgb(255, 255, 255);
    border-radius:10px;
}