body {
    display:flex;
    flex-direction: column;
    align-self:center;
    margin:10%;
    background:linear-gradient(to bottom, darkslateblue, rgb(28, 24, 56));
    color:white;
    min-height:100vh;
}

header h1{
    font-size:50px;
    font-weight:bolder;
    text-align: center;
    align-items: center;
    border: 2px dotted rgb(255, 255, 255);
    border-radius:10px;
    padding:5px;
    margin-top:0;
}

.bio {
    border-bottom: 5px dotted white;
}

.skills {
    border-bottom: 5px dotted white;
}

footer {
    align-self: center;
}
h3,h2 {
    justify-self: center;
    font-weight:bolder;
    font-size:x-large;
}

h2 {
    border: 2px dotted white;
    padding: 10px;
    border-radius: 30%;
}

.contact-me {
    border: 2px groove white;
    padding: 0px 15px;
    justify-items: center;
    border-top-left-radius: 50%;
}